<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .btn a {
        color: white;
        text-decoration: none;
    }

    body {
        background-color: #f1f1f1;
    }
</style>

<div class="text-center">
    <h2>Is it your Friends Birthday?</h2>
    <h3>Send them a Message!!!</h3>

    <div class="btn btn-success">
        @Html.ActionLink("Send Message", "BirthdayMessage")
    </div>
</div>